---
import GameCanvas from '../components/GameCanvas.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Survivors - POO Game</title>
	</head>
	<body>
		<main>
			<GameCanvas />
		</main>
	</body>
</html>

<style is:global>
	:root {
		background-color: #020617;
	}
	body {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}
</style>
